
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
	<style>
		.colorgraph {
			height: 5px;
			border-top: 0;
			background: #c4e17f;
			border-radius: 5px;
			background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
			background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
		}
	</style>
</head>
<body>
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/css/mdb.min.css" rel="stylesheet">

	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.7.1/js/mdb.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<nav class="navbar fixed-top navbar-expand-lg navbar-light " style="background-color:mediumaquamarine; ">
		<a class="navbar-brand  " href="#" style=" font-family:Snell Roundhand,cursive ; color:aqua">Exchange  <sub style="color:chartreuse;">Online</sub></a>
		
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarTogglerDemo02">
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item">
					<a href="@Url.Action( "UserDetail","Admin")" style="font-family:cursive; padding-right: 25px; color:white;">UserDetail</a>
				</li>
				<li class="nav-item">
					<a href="@Url.Action( "AdminADdetail","Admin")" style="font-family:cursive; color:white;padding-right: 25px;"><i class='fas fa-ad' style='font-size:20px'></i>Detail</a>
				</li>
				<li class="nav-item">
					<a href="@Url.Action( "HelpRequest","Admin")" style="font-family:cursive; color:white;">HelpRequest</a>
				</li>
			</ul>
			@*<a href="#" style="font-family:cursive; color:white ; "><i class="material-icons" style="color:black;">account_circle</i> avanish</a>*@
			<ul class="navbar-nav ml-auto nav-flex-icons">
				<li class="nav-item">
					<a  class="btn btn-danger  waves-effect" href="@Url.Action("AdminLogout","admin")" style="font-family:cursive;">LogOut</a>
				</li>
			</ul>
		</div>
	</nav>
	<hr class="colorgraph" style=" margin-top: 73px; margin-bottom: 0rem;" />
	<div>
		@RenderBody()
	</div>
	<footer class="page-footer font-small blue-grey lighten-5">
		<hr class="colorgraph" style=" margin-top: 0rem; margin-bottom: 0rem;" />
		<div class="footer-copyright text-center text-black-50 py-3">
			© 2018 Copyright:
			<a class="dark-grey-text" href="#">ExchangeOnline</a>
		</div>
	</footer>
</body>
</html>
